     <!--Pricing Block-->
     <div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
            <div class="pricing-block-content">
               
                <div class="post1">
                        <p class="pricing-sub">Artical 1</p>
                    <div class="post1"><span>COMPANY 1
                
                    </span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="post-featured-image">
                        <img src="./assets/images/gallery-images/gallery-image-5.jpg">
                </div>   
                <a href="#" class="button">READ More</a>
            </div>
        </div>
        <!--End Pricing Block-->
        

             <!--Pricing Block-->
  <div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
        <div class="pricing-block-content">
           
            <div class="post2">
                    <p class="pricing-sub">Artical 1</p>
                <div class="post2"><span></span>COMPANY 1</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="post-featured-image">
                    <img src="./assets/images/gallery-images/gallery-image-2.jpg">
            </div>   
            <a href="#" class="button">READ More</a>
        </div>
    </div>
    <!--End Pricing Block-->

         <!--Pricing Block-->
  <div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
        <div class="pricing-block-content">
           
            <div class="post3">
                    <p class="pricing-sub">Artical 1</p>
                <div class="post3"><span></span>COMPANY 1</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="post-featured-image">
                    <img src="./assets/images/gallery-images/gallery-image-4.jpg">
            </div>   
            <a href="#" class="button">READ More</a>
        </div>
    </div>
    <!--End Pricing Block-->

